body {
    background-color:lightblue;
    color:#1576df;
    font-family: 'Arial', sans-serif; 
}

section {
    margin: 5px 0;
    padding: 7px;
}

h1, h2{
    color: #982d2d;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}

.name-header {
    font-size: 2em;
    color: #007acc;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profile-picture {
    width: 150px;
    height: 190px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.experience-item {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: #333;
}

.job-title {
    flex: 1;
    text-align: left;
}

.job-dates {
    flex: 1;
    text-align: right;
    color: #333;
    font-size: 0.9em;
}

.job-description {
    margin-top: 5px;
    font-size: 0.95em;
    color: #555;
    padding-left: 15px;
    line-height: 1.4em;
}

.connect-link {
    margin: 5px 0;
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}

.connect-link:hover {
    text-decoration: underline;
}

.container {
    border: 5px solid teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: gold;
    color: teal;
    font-weight: bold;
    box-sizing: border-box;
}

.menuItem a {
    text-decoration: none;
}

.menuItem a:hover {
    color: black;
    text-decoration: underline;
}

#Connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}